%h1 Create a new user

- form_for @user do |f|
  =f.error_messages

  .field
    =f.label 'login'
    =f.text_field 'login'

  .field
    =f.label 'email'
    =f.text_field 'email'
    
  .field
    =f.label 'password'
    =f.password_field 'password'

  .field
    =f.label 'password_confirmation'
    =f.password_field 'password_confirmation'

  .field
    =f.submit 'Create'
