-content_for :head do
  =stylesheet_link_tag '/jquery-ui/css/ui-lightness/jquery-ui-1.7.2.custom.css'
  =javascript_include_tag '/jquery-ui/js/jquery-ui-1.7.2.custom.min.js'
  =javascript_include_tag '/javascripts/linked_slider'
  
%h1
  Editing remuneration
-form_for(@remuneration) do |f|
  =f.error_messages
  
  -Remuneration::CATEGORIES.each_with_index do |cat, i|
    -human_cat = cat.gsub('_', '')
    %h3=human_cat
    .slider{:id => "slider_#{i}"}
    %input.slider_input{:id => "slider_input_#{i}", :type => "text", :value => f.object.send(cat), :size => 3, :name => "remuneration[#{cat}]"}
    %div{:style => "clear:both; padding-top:10px"}
  
  %p
    =f.label :start_date
    %br
    =f.date_select :start_date
  %p
    =f.label :end_date
    %br
    =f.date_select :end_date
  %p
    =f.label :total_profits
    %br
    =f.text_field :total_profits
  %p
    =f.submit 'Update'

=link_to 'Show', @remuneration
|
=link_to 'Back', remunerations_path
