-content_for :head do
  =stylesheet_link_tag '/jquery-ui/css/ui-lightness/jquery-ui-1.7.2.custom.css'
  =javascript_include_tag '/jquery-ui/js/jquery-ui-1.7.2.custom.min.js'
  =javascript_include_tag '/javascripts/linked_slider'
  
%h1
  New remuneration
-form_for(@remuneration) do |f|
  =f.error_messages
  
  %h3 tenure
  .slider{:id => "slider_0"}
  %input.slider_input{:id => "slider_input_0", :type => "text", :value => @round_robin[0], :size => 3, :name => "remuneration[tenure]"}
  %div{:style => "clear:both; padding-top:10px"}
    
  %h3 peer review
  .slider{:id => "slider_1"}
  %input.slider_input{:id => "slider_input_1", :type => "text", :value => @round_robin[1], :size => 3, :name => "remuneration[peer_review]"}
  %div{:style => "clear:both; padding-top:10px"}
    
  %h3 hours worked
  .slider{:id => "slider_2"}
  %input.slider_input{:id => "slider_input_2", :type => "text", :value => @round_robin[2], :size => 3, :name => "remuneration[hours]"}
  %div{:style => "clear:both; padding-top:10px"}
  
  %h3 worker misc
  .slider{:id => "slider_3"}
  %input.slider_input{:id => "slider_input_3", :type => "text", :value => @round_robin[3], :size => 3, :name => "remuneration[worker_misc]"}
  %div{:style => "clear:both; padding-top:10px"}
  
  %h3 org misc
  .slider{:id => "slider_4"}
  %input.slider_input{:id => "slider_input_4", :type => "text", :value => @round_robin[4], :size => 3, :name => "remuneration[org_misc]"}
  %div{:style => "clear:both; padding-top:10px"}
  
  %h3 worker capital
  .slider{:id => "slider_5"}
  %input.slider_input{:id => "slider_input_5", :type => "text", :value => @round_robin[5], :size => 3, :name => "remuneration[worker_capital]"}
  %div{:style => "clear:both; padding-top:10px"}

  %h3 org capital
  .slider{:id => "slider_6"}
  %input.slider_input{:id => "slider_input_6", :type => "text", :value => @round_robin[6], :size => 3, :name => "remuneration[org_capital]"}
  %div{:style => "clear:both; padding-top:10px"}
  
  %p
    =f.label :start_date 
    %br
    =f.date_select :start_date 
  %p
    =f.label :end_date 
    %br
    =f.date_select :end_date 
  %p
    =f.label :total_profits 
    %br
    =f.text_field :total_profits 
  %p
    =f.submit 'Create' 

=link_to 'Back', remunerations_path
