%p
  %b
    Tenure:
  =h @remuneration.tenure 
%p
  %b
    Peer review:
  =h @remuneration.peer_review 
%p
  %b
    Hours:
  =h @remuneration.hours 
%p
  %b
    Worker misc:
  =h @remuneration.worker_misc 
%p
  %b
    Org misc:
  =h @remuneration.org_misc 
%p
  %b
    Worker capital:
  =h @remuneration.worker_capital 
%p
  %b
    Org capital:
  =h @remuneration.org_capital 
%p
  %b
    Start date:
  =h @remuneration.start_date 
%p
  %b
    End date:
  =h @remuneration.end_date 
%p
  %b
    Total profits:
  =h @remuneration.total_profits 

=link_to 'Edit', edit_remuneration_path(@remuneration)
|
=link_to 'Back', remunerations_path 
