%p 
  The consensus project is intended to assist in the operation of worker cooperatives. in a worker's cooperative, individual employees also act as owners and managers. read about what makes a cooperative a "worker cooperative"
  %a{:href => "http://en.wikipedia.org/wiki/Worker_cooperative", :target => "_blank"} here.
%h3
  %a{:href => "http://video.google.com/videoplay?docid=7565584850785786404", :target => "_blank"}
    this video explains everything
  (especially around 23:00)