%p
  Go to github and 
  %a{:href => 'https://github.com/dantebronto/consensus'}follow the installation instructions 
  found there. Once your server is up and running, you can login as the user and proceed to create a user account for everyone in your organization. Then you should be able to “view active votes” to begin setting up votes. Consensus currently has four vote types:
%ul
  %li
    Single option – The voter is asked to choose one of many created options (via radio buttons).
  %li
    Multi-option – The voter is asked to select any number of preferred options (via checkboxes).
  %li
    Prioritization – The voter is asked to drag and drop a list of options in order of preference. Once everyone in the organization does the same, the result will be a global preference list from most to least desired options.
  %li
    Allocation – The voter is asked to drag a group of linked sliders (always equaling 100%) to allocate a quantity of something across the various options.
%p
  These votes can be created and decided upon in near real time (in a meeting setting) to help determine the best course of action for your organization.
%p
  %img{ :src => "/images/allocation.png", :alt => "an allocation vote" }
  %br
  %em
    An allocation vote

%p
  %img{ :src => "/images/results.png", :alt => "graph of a vote result" }
  %br
  %em
    Graph of a vote result
%p
  The other component of Consensus deals with the payment of worker-members. By clicking the “pay out” link at the top, one is able to create a payment record, or remuneration, for a desired pay period. This works just like an allocation vote, where your organization can decide how much money to spend in each area. The default areas are as follow:
%ul
  %li
    Tenure – Workers can be rewarded based on how long they have been with the organization. This is a good way for those who were involved “at the ground level” to maintain ownership.
  %li
    Peer review – A prioritization vote can be held each pay period to determine subjective worker contribution.
  %li
    Hours – Workers can enter their hours worked for a given pay period.
  %li
    Worker misc – Miscellaneous worker contributions. Setup to work like a allocation vote.
  %li
    Worker capital – Decide how much or how quickly to repay workers based on capital contributions to the organization.
  %li
    Org misc – Miscellaneous organization funds. Set aside an amount to be used at a later time.
  %li
    Org capital – The amount of money that comes out of profits that goes back into capitalizing your organization.
%p
  For all of these dimensions, it is up to your organization to determine how much emphasis to put on each category. For example, a fledgeling company might decide to put low emphasis on repaying capital contributed by workers, but put a higher emphasis on working longer hours. If a company is saving up for a new piece of equipment, they might temporarily decide to divert more funds into the organization’s capital reserves. The idea is that these dimensions can be changed in an agile fashion to adjust to the needs of your organization.
%p
  Once a remuneration record is created and the various dimensions are filled out, Consensus will calculate how much is owed to each worker-member based on the percentage of emphasis alloted by the members.
%p
  %img{ :src => "/images/remuneration.png", :alt => "remuneration" }
  %br
  %em
    Remuneration, showing how much to pay each worker
%p
  If you’re interested in the project, feel free to contact me: 
  %a{:href => "mailto:klpresley@gmail.com"} klpresley@gmail.com
