=javascript_include_tag 'jquery-ui-custom.min.js'

:javascript
  $(function() {
  	$("#sortable").sortable({
  		placeholder: 'ui-state-highlight'
  	});
  	$("#sortable").disableSelection();
  });

- form_for @vote do |f|
  %ul#sortable
    - @vote.options.each do |opt|
      %li.ui-state-default
        =opt.name
        %input{:type => "hidden", :value => opt.id, :size => 3, :name => "options[]"}
        
  =f.submit "Cast your vote"