=javascript_include_tag 'js-class'
=javascript_include_tag 'bluff-min'

:plain
  <script type="text/javascript">
    function drawGraph(){
      var g = new Bluff.Pie('pie-chart', 800);
      g.theme_keynote();
      g.title = 'Current Vote';
      
-@vote.options.each do |opt|
  ="g.data('#{opt.name}', #{opt.tallies.length});"
  
:plain
      g.draw();
    }

    $(document).ready(function(){ 
      drawGraph();
    });
  </script>

%h1=@vote.name

.field
  ="#{@vote.kind.humanize} vote"
  
  %table
    %tr
      %th Option
      %th Votes
      %th Percentage
    -@vote.options.each do |opt|
      %tr
        %td=opt.name
        %td=opt.tallies.count
        %td=@vote.percentage(opt)
  
  -if @vote.tallies.count > 0  
    .chart_wrapper  
      %canvas#pie-chart
  
