!!!
%html
  %head
    :plain
      <!--[if lte IE 6]>
      <script type="text/javascript">
      /* <![CDATA[ */
      alert("Sorry, This site is not designed to work with Internet Explorer 6.");
      window.top.location = 'http://www.mozilla.com/en-US/firefox/switch';
      /* ]]> */
      </script>
      <![endif]-->
  
    %title= @title || "Consensus"
    =stylesheet_link_tag 'main'
    =javascript_include_tag 'jquery'
    =javascript_include_tag 'application'
    =yield :head
    
  %body
    #menu-holder
      %ul#menu
        %li
          %a{ :href => "/" }
            %span
              take me
            %br
            home
        - if logged_in?
          %li
            %a{ :href => "/votes" }
              %span
                view active
              %br
              votes
          %li
            %a{ :href => "/remunerations" }
              %span
                pay out
              %br
              remunerate
          - if current_user.admin?
            %li
              %a{ :href => "/users" }
                %span
                  user admin
                %br
                manage
        - else
          %li
            %a{ :href => "/about" }
              %span
                learn more
              %br
              About
          %li
            %a{ :href => "/usage" }
              %span
                try it
              %br
              Usage

        %li.last
          =render_login_logout  
        
      %div{:style => "clear:both"}
    
    #container
      #header
        %h1
          %a{:href => '/'}= "The Consensus Project"
        %p cooperative management software

        =show_flashes
            
      #content 
        =yield
      #footer
        %p#legal
          &mdash;
          ="consensus cooperative management software by"
          %a{:href => 'http://github.com/dantebronto'} Kellen Presley
          &mdash;
